<h2 mat-dialog-title>Register</h2>
<mat-dialog-content>
    <table cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput color='warn' formControlName="uname" id="uname_i" type="text" minlength="4" required>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput color='warn' formControlName="remail" id="remail_i" type="email" required>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput color='warn' formControlName="rpassword" id="rpassword_i" type="password" required>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <div mat-dialog-action>
        <br>
        <button mat-button color='warn' (click)="registerUser()">Register</button>
        <button mat-button color='warn' (click)="cancelRegisteration()">Cancel</button>
    </div>
</mat-dialog-content>