<app-nav-bar></app-nav-bar>
<mat-card class='page-card'>
    <mat-card-content>
        <mat-card>
            <mat-card-title>
                Welcome To Pool's App
            </mat-card-title>
            <mat-card-content id='app-description'>
                <br> This is a demo app to test different deployment strategies. <br><br> It comes with a front end and a backend. <br> <br> You can enable or disable backend features like DB connectivity and authentication using the gear icon at the
                right corner. Once you enable authentication you will need to authenticate yourself before accessing the DB page. When DB connectivity is diabled it will feed you non-persistent static data. Go through the comments for better understanding
                of the working and how can you modify it to suit your deployment needs. <b>NOTE THIS APP IS FOR TESTING PURPOSES ONLY AND IS NOT MEANT TO BE DEPLOYED FOR PRODUCTION USAGE.</b> <br><br><br> And here's a picture of Mr. Pool to make your
                day ... or not ! <br>
                <p><img src="../../../assets/images/nothing_to_see_here.jpg" alt="Deadpool being deadpool"></p>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>