<div id="navbar">
    <mat-toolbar id="nav-bar">
        <a [routerLink]="['']" class="nav-links"><button mat-button color="warn">Home</button></a>
        <a [routerLink]="['/db']" class="nav-links"><button mat-button color="warn">DB</button></a>
        <a [routerLink]="['/auth']" class="nav-links"><button mat-button color="warn">Auth</button></a>
        <a [routerLink]="['/manage']" class="nav-links" style="margin-left: auto;"><button mat-button color="warn">
                <mat-icon color='warn'>settings</mat-icon>
            </button></a>
    </mat-toolbar>
</div>